<div class="row">
    <div class="col-md-6" *ngFor="let espacio of espacios | paginate: { itemsPerPage: 6, currentPage: currentPage }">
        <div class="card text-center">
            <div class="card-header bg-dark text-white h5 f-flex justify-content-between align-items-center">
                <strong class="mr-2">{{espacio.profesor.apellido1}} {{espacio.profesor.apellido2}}, {{espacio.profesor.nombre}}</strong><img *ngIf="espacio.profesor.tarifaPremium" class="ml-4" src="assets/images/medal.png"  alt="Carrito" width="80px" height="80px">
                <div *ngIf="!espacio.profesor.expendiente">
                    <button  class = "btn btn-info ml-3" title='Descargar expediente' (click)="descargarExpediente(0)">
                        <i class="fas fa-file-pdf"></i>
                    </button>
                </div>
                <div *ngIf="espacio.profesor.expendiente">
                    <button  class = "btn btn-info ml-3" title='Descargar expediente' (click)="descargarExpediente(espacio.profesor.expendiente.id)">
                        <i class="fas fa-file-pdf"></i>
                    </button>
                </div>
                
            </div>
            

            <div class="card-body  text-dark h6" id="parentCard">
                <i class="fas fa-book"></i> {{espacio.asignatura.nombre}}<br/><br/>
                
                <div class="row">
                    <div class="col-md-12 mb-3"><i class="fas fa-money-bill-wave"></i> {{espacio.precio}}€/clase</div>
                </div>
                <button (click)="detalleEspacio(espacio.id)" class="btn btn-primary mr-1">Ver detalles</button>
                <button (click)="valoracionEspacio(espacio.id)" class="btn btn-primary ml-1">Ver valoraciones</button>

            </div>
            
        </div>
    </div>
</div>

<div class="text-center sticky-top">
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>



