<div class="row">
    <div class="col-md-6" *ngFor="let horario of horarios">
        <div class="card text-center">
            <div class="card-header bg-dark text-white h5 f-flex justify-content-between align-items-center">
                <strong>Profesor:</strong> {{horario.espacio.profesor.apellido1}} {{horario.espacio.profesor.apellido2}}, {{horario.espacio.profesor.nombre}}<br/>
                
                <div *ngIf="horario.espacio.profesor.valoracionMedia">
                    <div class="container d-flex justify-content-center">
                        <strong>Valoración:</strong> 
                        <ngx-stars [initialStars]="horario.espacio.profesor.valoracionMedia" title="Valoración: {{horario.espacio.profesor.valoracionMedia}}/5" [readonly]="true"></ngx-stars>
                    </div>
                          
                </div>
                <div *ngIf="!horario.espacio.profesor.valoracionMedia">
                    <strong>Valoración:</strong> Este profesor no tiene valoración aún.
                </div>

                <div class="container pt-3">
                <i class="fas fa-envelope"></i> {{horario.espacio.profesor.email}} <br/>
                <div class="container pt-1">
                    <i class="fas fa-phone"></i> {{horario.espacio.profesor.telefono}}
                </div>
                </div>
            </div>

            <div class="card-body text-dark h6" id="parentCard">
                <div class="container">
                    <i class="fas fa-book"></i> {{horario.espacio.asignatura.nombre}}<br/><br/>
                    <i class="fas fa-money-bill-wave"></i>{{horario.espacio.precio}}€/clase

                    <div class="card rounded mt-3">
                        <ul class="list-group">
                            <li class="list-group-item h4">{{horario.dia}}</li>
                            <li class="list-group-item"><strong>Fecha límite de inscripción:</strong> {{horario.fechaInicio | date: 'dd-MM-yyyy'}}</li>
                            <li class="list-group-item"><strong>Fecha de finalización del horario:</strong> {{horario.fechaFin | date: 'dd-MM-yyyy'}}</li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-6 text-right">
                                        <strong>De:</strong> {{horario.horaInicio}}
                                    </div>
                                    <div class="col-md-6 text-left">
                                        <strong>A:</strong> {{horario.horaFin}}

                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item"><strong>Capacidad:</strong> {{horario.capacidad}}</li>
                            <li class="list-group-item"><strong>Alumnos inscritos:</strong> {{alumnosInscritos.get(horario.id)}} </li>
                        </ul>
                    </div>
                    <button [routerLink] = "['/foro', horario.espacio.id]" class="btn btn-primary mr-1">Foro</button>
                    <button [routerLink] = "['/añadir-valoracion', horario.espacio.id]" class="btn btn-primary ml-1">Ver valoraciones</button>

                </div>
                
            </div>
            
            
        </div>
    </div>
</div>