<div *ngIf="!editarPerfil" class="container">
    <div class="d-flex justify-content-center row">
        <div class="col-12 col-md-6">
            <div *ngIf="mostrarMensajeActualizarPerfil" class="alert alert-success text-center" role="alert">
                Su perfil ha sido actualizado con éxito.
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 col-lg-6 col-md-6">
                            <h3 class="mb-0 text-truncated">{{perfil.nombre}}</h3>
                            <p class="lead">{{perfil.apellido1}} {{perfil.apellido2}}</p>
                            <p>{{perfil.email}}</p>
                            <p> <span class="badge badge-info tags mr-1">{{perfil.telefono}}</span> 
                                <span class="badge badge-info tags mr-1">{{perfil.userAccount.username}}</span>
                                <span class="badge badge-info tags mr-1">{{perfil.userAccount.autoridad}}</span>
                            </p>
                        </div>
                        <div class="col-6 col-lg-6 col-md-6">
                            <div *ngIf="perfil.userAccount.autoridad === 'PROFESOR'">

                            </div>
                            <div *ngIf="perfil.userAccount.autoridad === 'ALUMNO'">
                                <p><strong class="mb-4">Realizando estudios en:</strong></p>
                                <p>{{perfil.universidad.nombre}}</p>
                                <p>{{perfil.facultad.nombre}}</p>
                                <p>{{perfil.grado.nombre}}</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <button type="button" class="btn" (click)="mostrarFormularioEditarPerfil()">Editar</button>
                        </div>
                        <!--/col-->
                    </div>
                    <!--/row-->
                </div>
                <!--/card-block-->
            </div>
        </div>
    </div>
</div>


<div *ngIf="editarPerfil" class="row">
    <div class="col-md-8 mx-auto d-block">
        <div class="card border">
            <div class="jumbotron text-center h2 text-dark">
                Editar perfil
            </div>
            <form id="form" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Nombre*</label>
                            <input matInput type="text" name="nombre" placeholder="Introduzca su nombre" class="form-control" autofocus
                            formControlName="nombre" [ngClass]="{'is-invalid': form.get('nombre').touched && form.get('nombre').invalid}">
                            <div class="alert alert-danger" *ngIf="form.get('nombre').touched && form.get('nombre').hasError('required')">
                                El nombre es requerido
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Primer apellido*</label>
                            <input matInput type="text" name="apellido1" placeholder="Introduzca su primer apellido" class="form-control"
                            formControlName="apellido1" [ngClass]="{'is-invalid': form.get('apellido1').touched && form.get('apellido1').invalid}">
                            <div class="alert alert-danger" *ngIf="form.get('apellido1').touched && form.get('apellido1').hasError('required')">
                                El primer apellido es requerido
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Segundo apellido*</label>
                            <input matInput type="text" name="apellido2" placeholder="Introduzca su segundo apellido" class="form-control"
                            formControlName="apellido2" [ngClass]="{'is-invalid': form.get('apellido2').touched && form.get('apellido2').invalid}">
                            <div class="alert alert-danger" *ngIf="form.get('apellido2').touched && form.get('apellido2').hasError('required')">
                                El segundo apellido es requerido
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>DNI*</label>
                            <input matInput type="text" name="dni" placeholder="Introduzca su DNI" class="form-control"
                            formControlName="dni" [ngClass]="{'is-invalid': form.get('email').touched && form.get('email').invalid}">
                            <div class="alert alert-danger" *ngIf="form.get('dni').touched && form.get('dni').hasError('required')">
                                El DNI es requerido
                            </div>
                            <div class="alert alert-danger" *ngIf="form.get('dni').touched && form.get('dni').hasError('pattern')">
                                El DNI no es válido. Debe tener 8 números seguido de 1 letra en mayúscula
                            </div>
                            <div class="alert alert-danger" *ngIf="form.get('dni').touched && form.get('dni').hasError('noValidDni') && !form.get('dni').hasError('required') && !form.get('dni').hasError('pattern')">
                                El DNI introducido no es válido.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Teléfono</label>
                            <input matInput type="text" name="telefono" placeholder="Introduzca su teléfono" class="form-control"
                            formControlName="telefono" [ngClass]="{'is-invalid': form.get('telefono').touched && form.get('telefono').invalid}">
                            <div class="alert alert-danger" *ngIf="form.get('telefono').touched && form.get('telefono').hasError('pattern')">
                                El telefono introducido no es válido
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Email*</label>
                            <input matInput type="text" name="email" placeholder="Introduzca su email" class="form-control"
                            formControlName="email" [ngClass]="{'is-invalid': form.get('email').touched && form.get('email').invalid}" >
                            <div class="alert alert-danger" *ngIf="form.get('email').touched && form.get('email').hasError('required')">
                                El email es requerido
                            </div>
                            <div class="alert alert-danger" *ngIf="form.get('email').touched && form.get('email').hasError('email')">
                                Introduce en email válido
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="perfil.userAccount.autoridad === 'ALUMNO'" class="row">
                    <div class="col-md-4 mb-4">
                        <label>Universidad</label>
                        <select class="form-control" formControlName="universidad" [ngClass]="{'is-invalid': form.get('universidad').touched && form.get('universidad').invalid}">
                            <option value="" (click)="getFacultades('empty')">------</option>
                            <option *ngFor="let valor of universidades" 
                            [value]="valor.nombre" (click)="getFacultades(valor)">{{valor.nombre}}</option>
                        </select>
                        <div class="alert alert-danger" *ngIf="form.get('universidad').touched && form.get('universidad').hasError('required')">
                            Debes introducir una universidad
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">
                        <label>Facultades</label>
                        <select class="form-control" formControlName="facultad" [ngClass]="{'is-invalid': form.get('facultad').touched && form.get('facultad').invalid}">
                            <option value="" (click)="getGrados('empty')">------</option>
                            <option *ngFor="let valor of facultades" 
                            [value]="valor.nombre" (click)="getGrados(valor)">{{valor.nombre}}</option>
                        </select>
                        <div class="alert alert-danger" *ngIf="form.get('facultad').touched && form.get('facultad').hasError('required')">
                            Debes introducir una facultad
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">
                        <label>Grado</label>
                        <select class="form-control" formControlName="grado" [ngClass]="{'is-invalid': form.get('grado').touched && form.get('grado').invalid}">
                            <option value="">------</option>
                            <option *ngFor="let valor of grados" 
                            [value]="valor.nombre">{{valor.nombre}}</option>
                        </select>
                        <div class="alert alert-danger" *ngIf="form.get('grado').touched && form.get('grado').hasError('required')">
                            Debes introducir un grado
                        </div>
                    </div>
                </div>

                <div formGroupName="useraccount">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nombre de usuario*</label>
                                <input matInput type="text" name="username" placeholder="Introduzca su usuario" class="form-control"
                                formControlName="username" [ngClass]="{'is-invalid': form.get('useraccount').get('username').touched && form.get('useraccount').get('username').invalid}">
                                <div class="alert alert-danger" *ngIf="form.get('useraccount').get('username').touched && form.get('useraccount').get('username').hasError('required')">
                                    El nombre de usuario es requerido
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Contraseña*</label>
                                <input matInput type="password" name="password" placeholder="Introduzca su contraseña" class="form-control"
                                formControlName="password" [ngClass]="{'is-invalid': form.get('useraccount').get('password').touched && form.get('useraccount').get('password').invalid}">
                                <div class="alert alert-danger" *ngIf="form.get('useraccount').get('password').touched && form.get('useraccount').get('password').hasError('required')">
                                    La contraseña es requerida
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Confirmar contraseña*</label>
                                <input matInput type="password" name="confirmPassword" placeholder="Repita su contraseña" class="form-control"
                                formControlName="confirmPassword" [ngClass]="{'is-invalid': form.get('useraccount').get('confirmPassword').touched && form.get('useraccount').errors?.noMatch}">
                                <div class="alert alert-danger" *ngIf="form.get('useraccount').get('confirmPassword').touched && form.get('useraccount').errors?.noMatch">
                                    Las contraseñas no coinciden
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="perfil.userAccount.autoridad === 'PROFESOR'" class="border border-secondary p-2">
                    <div class="alert alert-info d-inline-block">
                        *<b>Expediente:</b> Si cambia de expendiente, quedará a la espera de su nueva validación.
                          Por tanto, no podrá realizar ninguna función como profesor.
                    </div>
                   <input class="col-12" type="file" id="file" (change)="fileInput($event.target.files)">
                    <div *ngIf="perfil.expendiente" class="col-12 mt-3"><b>Expediente actual:</b> <strong class="mr-2 ml-2">{{perfil.expendiente.fileName}}</strong> <a class = "btn btn-secondary" title="Descargar expediente" (click)="download(perfil.expendiente.id)"><i class="fas fa-file-pdf"></i></a></div>
                </div>

                <div class="alert alert-danger d-inline-block mt-3" *ngIf="error">
                    {{error}}
                </div>
            
                <div class="row mt-4">
                    <button class="btn col-12 col-md-6 mb-1" [disabled]="form.invalid">
                        Guardar
                    </button>
                    <button type="button" class="btn col-12 col-md-6 mb-1" (click)="mostrarFormularioEditarPerfil()">
                        Cancelar
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
