<ngx-spinner></ngx-spinner>
<div class="container">
<div class="row">
    <div class="col-md-12 mx-auto d-block">

        <div *ngIf="mensajeEnviado" class="alert alert-success text-center" role="alert">
            La notificación ha sido enviada con éxito.
        </div>

        <form [formGroup]="form" (ngSubmit) = "submit()">

            <div class="card-header mt-4 bg-dark text-white h5 f-flex justify-content-between align-items-center">
                Notificación        
            </div>
        
            <div class="card-body text-dark" id="parentCard">
                <div *ngIf="!esBroadcast('BROADCAST')">
                    <div class="form-group">
                        <label><strong>Para: </strong></label>
                        <input type="text" formControlName="to" class="form-control" 
                        name="para" [ngClass]="{'is-invalid': form.get('to').touched && form.get('to').invalid}">
                        <div class="alert alert-danger" *ngIf="form.get('to').touched && form.get('to').hasError('required')">
                            Debes introducir un receptor del mensaje
                        </div>
                        <div class="alert alert-danger" *ngIf="form.get('to').touched && form.get('to').hasError('email')">
                            El email introducido no es válido
                        </div>
                    </div>
                </div>
        
                <div class="form-group">
                    <label><strong>Asunto: </strong></label>
                    <input type="text" formControlName="subject" class="form-control" 
                    name="asunto" [ngClass]="{'is-invalid': form.get('subject').touched && form.get('subject').invalid}">
                    <div class="alert alert-danger" *ngIf="form.get('subject').touched && form.get('subject').hasError('required')">
                        El asunto del mensaje es requerido
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="comment"><strong>Contenido: </strong></label>
                    <textarea id="comment" class="form-control" 
                    formControlName="body" rows="4" cols="50"
                    [ngClass]="{'is-invalid': form.get('body').touched && form.get('body').invalid}"></textarea>
                    <div class="alert alert-danger" *ngIf="form.get('body').touched && form.get('body').hasError('required')">
                        El cuerpo del mensaje es requerido
                    </div>
                </div>

                <div class="form-group">
                    <label><b>¿A quien desea enviar la notificación?</b></label><br>
                    <input type="radio" id="unicast" name="broadcast" value="1" formControlName="broadcast" (click)="selectRadio('UNICAST')">
                    <label for="unicast">Al usuario especificado</label>
                    <input type="radio" id="broadcast" name="broadcast" value="0" formControlName="broadcast" (click)="selectRadio('BROADCAST')"> 
                    <label for="broadcast">A todos los usuarios</label>
                </div>
                
                <button class="btn btn-primary" [disabled]="form.invalid"> 
                    Enviar
                </button>
            </div>
        </form>
    </div>
</div>
</div>

