<div class="container">
<div class="row">
    <div class="col-md-12 mx-auto d-block" *ngFor="let horario of horarios">
        <div class="card text-center">
            <div class="card-header bg-dark text-white h5 f-flex justify-content-between align-items-center">
                <strong>{{horario.dia}}</strong>
            </div>     
            <div class="card-body text-dark h6" id="parentCard">
                <div class="container mt-4">

                        <div class="card rounded" id="childCard">
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Fecha límite de inscripción:</strong> {{horario.fechaInicio | date: 'dd-MM-yyyy'}}</li>
                                <li class="list-group-item"><strong>Fecha de finalización del horario:</strong> {{horario.fechaFin | date: 'dd-MM-yyyy'}}</li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-6 text-right">
                                            <strong>De:</strong> {{horario.horaInicio}}
                                        </div>
                                        <div class="col-md-6 text-left">
                                            <strong>A:</strong> {{horario.horaFin}}

                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item"><strong>Capacidad:</strong> {{horario.capacidad}}</li>
                                <li class="list-group-item"><strong>Alumnos inscritos:</strong> {{alumnosInscritos.get(horario.id)}}</li>

                            </ul>
                        </div>
                </div>
                <div *ngIf="alumnosInscritos.get(horario.id) == 0">
                    <button (click) = "editarHorario(horario.id)" class="btn btn-primary mr-1">
                        Editar
                    </button>

                <button (click) = "eliminarHorario(horario.id)" class="btn btn-danger ml-1">
                    Eliminar
                </button>
                </div>
            </div>

            
        </div>

        
    </div>
</div>
<button (click)="crearNuevoHorario(espacioId)" class="btn btn-primary mr-1">Añadir nuevo horario</button>
<button (click)="volverEspaciosEditables()" class="btn btn-primary mr-1">Cancelar</button>

</div>