<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="form" (ngSubmit) = "onSubmit()">
                
                <div class="form-group col-md-6">
                    <label>Día</label>
                    <select class="form-control" formControlName="dia" [ngClass]="{'is-invalid': form.get('dia').touched && form.get('dia').invalid}">
                        <option value="">------</option>
                        <option *ngFor="let dia of diasSemana" [value]="dia">{{dia}}</option>
                    </select>
                    <div class="alert alert-danger" *ngIf="form.get('dia').touched && form.get('dia').hasError('required')">
                        El día es requerido
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Hora inicio</label>
                        <input type="text" formControlName="fechaInicio" class="form-control" 
                        name="fechaInicio" placeholder="HH:mm" [ngClass]="{'is-invalid': form.get('fechaInicio').touched && form.get('fechaInicio').invalid}">
                        <div class="alert alert-danger" *ngIf="form.get('fechaInicio').touched && form.get('fechaInicio').hasError('required')">
                            La hora de inicio es requerida
                        </div>

                        <div class="alert alert-danger" *ngIf="form.get('fechaInicio').touched && form.get('fechaInicio').hasError('pattern')">
                            Introduce una hora de inicio valida
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        <label>Hora fin</label>
                        <input type="text" formControlName="fechaFin" class="form-control" 
                        name="fechaFin" placeholder="HH:mm" [ngClass]="{'is-invalid': form.get('fechaFin').touched && form.get('fechaFin').invalid}">
                        <div class="alert alert-danger" *ngIf="form.get('fechaFin').touched && form.get('fechaFin').hasError('required')">
                            La hora de fin es requerida
                        </div>

                        <div class="alert alert-danger" *ngIf="form.get('fechaFin').touched && form.get('fechaFin').hasError('pattern')">
                            Introduce una hora de fin valida
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Capacidad</label>
                        <input matInput type="text" name="capacidad" formControlName="capacidad" 
                        class="form-control" [ngClass]="{'is-invalid': form.get('capacidad').touched && form.get('capacidad').invalid}">
                        <div class="alert alert-danger" *ngIf="form.get('capacidad').touched && form.get('capacidad').hasError('required')">
                            La capacidad es requerida
                        </div>

                        <div class="alert alert-danger" *ngIf="form.get('capacidad').touched && form.get('capacidad').hasError('pattern')">
                            Introduce una capacidad válida
                        </div>
                        <div class="alert alert-danger" *ngIf="form.get('capacidad').touched && form.get('capacidad').hasError('min')">
                            La capacidad debe ser mayor que 0
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary btn-block col-md-2" [disabled]="form.invalid">
                    Guardar
                </button>
                <button class="btn btn-primary btn-block col-md-2" (click)="verHorario(horario.espacio.id)">
                    Cancelar
                </button>

            </form>
            </div>
    </div>
    
</div>