<div class="container">
    <div class="row">
        <div class="col-12">

        

        <div class="row">
            <div class="col-12">
                <h1>{{foro.titulo}}</h1>
            </div>
        </div>

        <div class="row">

            <div *ngIf="respuestas.length != 0" class="col-6" style="overflow-y: scroll; height: 360px;">
                <div *ngFor="let respuesta of respuestas;"class="col-12">

                    <div class="card">
                        <div class="card-header">
                          {{respuesta.user.autoridad}}: {{respuesta.user.username}}
                        </div>
                        <div class="card-body">
                          <blockquote class="blockquote mb-0">
                            <p>{{respuesta.contenido}}</p>
                            <footer class="blockquote-footer">Comentario creado el <cite title="Source Title">{{respuesta.creacionRespuesta | date: 'dd/MM/yyyy'}}</cite> a las <cite>{{respuesta.creacionRespuesta | date:'shortTime'}}</cite></footer>
                          </blockquote>
                        </div>
                      </div>
        
                </div>
            </div>

            <div *ngIf="respuestas.length == 0" class="col-6" style="overflow-y: scroll; height: 360px;"> 
                El foro no contiene ningún mensaje.
            </div>

            

            <div class="col-6">

                <form novalidate [formGroup]="form" (ngSubmit)="insertar()">

                    <div class="form-row">

                        <div class="col-md-12 mb-12">
                            <label>Comentario</label>
                            <textarea 
                            class="form-control" formControlName="contenido">

                            </textarea>
                            
                        </div>

                    </div>

                    <button [disabled]= "!form.valid" type="submit" class="btn btn-primary" >
                        Añadir
                    </button>

                </form>

            </div>


        </div>

        

        </div>
    </div>
</div>
