<!--
<footer class="page-footer font-small bg-dark pt-4 text-white">

    <div class="container-fluid text-center text-md-left">
        <div class="text-center">
          <p>Gracias por visitar nuestra página, su aprobado es nuestra razón de ser.</p>  
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a style="color:orange" href="https://mdbootstrap.com/"> MDBootstrap.com</a>
      <div>Icons made by <a style="color:orange" href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a> from <a  style="color:orange" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </div>
  
  </footer>
-->

<!-- Footer -->
<footer class="page-footer font-small bg-dark pt-4 text-white">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <!--<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>-->

        <ul class="list-unstyled">
          <li>
            <a style="color:orange" routerLink="/terminos-y-condiciones">Terminos y condiciones.</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <!--<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>-->

        <ul class="list-unstyled">
          <li>
            <a style="color:orange" routerLink="/politica-privacidad">Política de privacidad.</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <!--<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>-->

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <!--<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>-->

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a style="color:orange" href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    <div>Icons made by <a style="color:orange" href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a> from <a  style="color:orange" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->