<div class="container">
<div class="row">
    <div class="col-md-6" *ngFor="let espacio of espacios">
        
        <div class="card text-center">
            <div class="card-header bg-dark text-white h5 f-flex justify-content-between align-items-center">
                <strong>Asignatura: {{espacio.asignatura.nombre}}</strong>
            </div>
            

            <div class="card-body text-dark h6" id="parentCard">
                <div class="container">
                    <i class="fas fa-money-bill-wave"></i>{{espacio.precio}}€/clase
                </div>
                <div class="container mt-3">
                    <div class="btn-group">
                        <div *ngIf="espacio.draftMode == 1">
                            <button (click)="editarEspacio(espacio.id)" class="btn btn-primary mr-1">Editar</button>
                            <button (click)="borrarEspacio(espacio.id)" class="btn btn-danger mr-1">Borrar</button>
                        </div>
                        <button (click)="verHorarios(espacio.id)" class="btn btn-primary mr-1">Ver horarios</button>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div>
</div>